#game {
  display: flex-container;
  text-align: center;
}

#gameScreen {
  background-image: url("../images/floor-600x600.png");
  border: solid 1px black;
  display: flexbox;
  justify-content: center;
}

body {
  background-color: lightslategray;
}

img {
  display: none;
  }

